<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Все посты найденные по запросу "{{ req }}"</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<main>

    <a href="/" class="link">Назад</a>

    <h1>Посты по запросу "{{ req }}"</h1>

    <div class="post">
        {% for item in data %}
            <img src="{{ item.pic }}" width="100%" alt="">
            <p>{{ item.content }}</p>
        {% endfor %}
    </div>
    <hr>

</main>
</body>
</html>
